@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Montserrat:wght@300;900&family=Nunito:wght@600&family=Pinyon+Script&family=Poppins:wght@100;300&family=Roboto:ital,wght@0,500;1,100&family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #9BA4B5;
}

.title{
    letter-spacing: 3px;
    font-size: 34px;
    color: #9BA4B5;
}

/*NAVBAR*/
.nav{
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-around;
    background-color: #212A3E;
    align-items: center;
}
.searcher{
    background-color: transparent;
    border: 2px solid #9BA4B5;
    height: 30px;
    width: 350px;
    font-size: 18px;
    border-radius: 15px;
    padding: 0 40px;
    color: white;
}
i{
    color: #9BA4B5;
}
.fa-magnifying-glass{
    position: relative;
    left: 40px;
    scale: 1.1;
    padding-right: 5px;
}
.fa-xmark{
    position: relative;
    right: 30px;
    bottom: 1px;
    scale: 1.25;
}
.fa-magnifying-glass:hover, .fa-xmark:hover{
    cursor: pointer;
}
.contacts{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.contacts .fa-brands{
    scale: 2;
}
.disappear{
    visibility: hidden;
}

/*WORD AND SYLLABLES*/
.word{
    letter-spacing: 2px;
    font-size: 42px;
    text-transform: capitalize;
    
}
.word-and-syllables{
    display: flex;
    gap: 1rem;
}
.syllables{
    margin-top: 24px;
    font-family: 'Roboto', italic;
    font-style: italic;
    font-weight: bolder;
    font-size: 18px;
}

/*BOXES SIZES*/
.box{
    padding: 20px 20px;
    background-color: white;
    margin-top: 40px;
    border-radius: 15px;
    box-shadow: 5px 5px 0 black;
}
/*--titles--*/
.box h1{
    font-size: 28px;
    color: #ff9d0b;
}

/*--meanings--*/
.item{
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px 20px;
    gap: 10px;
}
/*----number---- */
.number{
    font-weight: 600;
}
/*----type of word----*/
.type-of-word{
    font-style: italic;
    font-weight: bolder;
    
}
.meaning{
    display: inline-block;
    letter-spacing: 2px;
    font-weight: lighter;
}
.meaning:first-letter, .example:first-letter{
    text-transform: uppercase;
}

/*---- complete meaning----*/
.comp-meanings{
    display: grid;
    grid-template-columns: min-content  min-content  1fr;
    gap: 5px;
    width: 100%;
}

/*---- complete examples ----*/
.comp-examples{
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 5px;
    width: 100%;
}

/*-- examples -- */
.example{
    display: inline-block;
    letter-spacing: 2px;
    color: #515357;
}

/*SYNONYMS*/
.syn-ant-rhy{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px 0;
    max-width: 100%;
    flex-wrap: wrap;
}
.syn-ant-rhy button{
    border: none;
    background-color: #ff9d0b;
    padding: 10px 20px;
    text-align: center;
    border-radius: 15px;
    color: #212A3E;
    font-size: 16px;
    box-shadow: 2px 2px 0 black;
    text-transform: capitalize;
    transition: all 500ms;
}
.syn-ant-rhy button:hover{
    cursor: pointer;
    scale: 1.2;
}
.no-entries{
    font-style: italic;
    font-weight: bolder;
    font-size: 18px;
}
