@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Montserrat:wght@300;900&family=Nunito:wght@600&family=Pinyon+Script&family=Poppins:wght@100;300&family=Roboto:wght@500&family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
body{
  background-color: #9BA4B5;
}
.body-home{
  background-color: #9BA4B5;
  position: relative;
}
/*CONTACT*/
.contacts{
  position: absolute;
  right: 5px;
  top: 60px;
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.contacts .fa-brands{
  scale: 3;
  color: #212A3E;
  transition: all 200ms;
}
.contacts .fa-brands:hover{
  color: #0e121a;
  scale: 3.5;
}
/*TITLE*/
.title{
  text-align: center;
  color: #212A3E;
  letter-spacing:3px;
  font-size: 56px;
  margin-top: 200px;
}
.row{
  color:#f39c1a;
  text-shadow:5px 0px 0 black
}

/*SEARCH BAR*/
.search-bar{
  margin: 20px auto;
  text-align: center;
}
.searcher{
  border: 2px solid rgb(33, 42, 62);
  min-width: 400px;
  min-height: 35px;
  font-size: 20px;
  background-color: transparent;
  border-radius: 15px;
  padding: 0 40px;
  color: #212A3E;
}
.searcher:focus {
  outline: none; /* Remove the default focus outline */
  /* You can also set other styles to indicate focus, like a box-shadow */
}

.fa-magnifying-glass{
  position: relative;
  left: 35px;
  scale: 1.5;
  top: 2px;
  padding-right: 5px;
  color: #212A3E;
}
.fa-xmark{
  position: relative;
  right: 30px;
  bottom: 1px;
  scale: 1.25;
  color: #212A3E;
}
.fa-magnifying-glass:hover, .fa-xmark:hover{
  cursor: pointer;
}
.disappear{
  visibility: hidden !important;
}
/*DESCRIPTION TEXT*/
.text{
  display: block;
  text-align: center;
  margin: 0 auto;
  color: #212a3eab;
  width: 500px;
}

/*SEARCH BUTTON*/
.hyperlink-a{
  background-color: #f39c1a;
  border: none;
  padding: 10px 0;
  width: 120px;
  font-size: 20px;
  display: block;
  border-radius: 16px;
  box-shadow: 5px 5px 0px rgb(22, 25, 31);
  margin: 50px auto;
  text-align: center;
  transition: all 300ms;
}
.hyperlink-a:hover{
  cursor: pointer;
  background-color: #ffba54;
  box-shadow: 5px 5px 0px #212A3E;
}
.hyperlink-a a{
  color:#212A3E;  
}
.hyperlink-a a:visited{
color:#212A3E;  
}
.wrong-border{
  border-color: rgb(192, 15, 15);
}
.wrong-text{
  color: rgb(192, 15, 15);
  text-align: center;
  margin: 0 auto;
  width: 500px;
  margin-bottom: 20px;
  display: block;
}